@import "tailwindcss";

/* styles/globals.css  */
@font-face {
    font-family: 'MyFont';
    src: url('https://8.haory.top/j/j11/datanews/fonts/shiweijiatangsongti.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

body {
    @apply bg-[#484850];
}

.paragraph {
    color: #fff;
    font-family: 'MyFont';
    font-size: 25px;
    padding: 20px 50px;
    line-height: 50px;
}

 /*封面图片*/


.cover{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 1920px 1068px;
    background-position: center;
}


/*居中图片显示*/
.img_center {
    display: flex;
    justify-content: center;
}